.App {
  text-align: center;
}
img {
  height: 500px;
  width: 500px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgDiv {
  border: grey solid 2px;
  width: 600px;
  margin: 5%;
  padding: 5%;
}
